body {
  font-family: "Nunito", sans-serif;
  background: #f2f2f2;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 16px;
}

h2 {
  text-transform: uppercase;
}

.section-type {
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: #002d75;
}

li {
  list-style: none;
  margin-right: 10px;
  margin-top: 40px;
}

.disp-flex {
  display: flex;
  justify-content: center;
}

/***
* Product section
**/
.boxes {
  display: flex;
  flex-wrap: wrap;
}
.boxes .box {
  flex-basis: 30%;
  margin-right: 2%;
  margin-bottom: 2%;
}