// General style
body{
    font-family: $main-font;
    background: $body-col;
    color: $text-col;
} 

img{
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 16px;
}

h2{
    text-transform: uppercase;
}

.section-type{
    padding: 20px 0;
}

a{
    text-decoration: none;
    color: $a-col;
}