// General style

body{
    font-family: $main-font;
    background: $back-white;
    color: $text-col;
} 
img{
    max-width: 100%;
    height: auto;
    display: block;
}
h2{
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: $a-col;
    cursor: pointer;
}
li{
    list-style: none;
    cursor: pointer;
}
.container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 16px;
}
.section-type{
    padding: 20px 0;
}